/* .add-book-form {
  margin-top: 15px;

}

.add-book-form, .delete-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.add-book-form  > div,.delete-book-form > div {
  display: flex;
  justify-content: center;
}
.add-book-form  > div > input, .delete-book-form > div > input {
  padding: 10px;
  width: 100%;
}
.add-book-form  > div > button {
  background: rgb(236, 185, 185);
  padding: 0 15px;
  font-family: 'Inter';
  font-size: 30px;
  font-weight: 700;
}
.delete-book-form > div > button {
  color: blue;
  background: rgb(255, 83, 83);
  padding: 0 10px;
  margin: 0;
}
.delete-book-form > div:first-child {
  margin-right: auto;
}

.catalogue-wrapper-content.list-of-orders-content .item-content {
border-radius: 5px;
border: 1px solid black;
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}
.catalogue-wrapper-content.list-of-orders-content .item-content > h4 {
  font-size: 20px;
  font-weight: 700;
}
.catalogue-wrapper-content.list-of-orders-content .item-content > p {
font-size: 17px;
}
.catalogue-wrapper-content.list-of-orders-content .item-content > ul li{
list-style: auto;
margin-left: 20px;
} */